header {
    display: flex;
    justify-content: space-between;
    align-items: top; /* メインビジュアル出来たらボーダー消す */
}

.header-left h1 {
    width: 150px;
    height: 50px;
    margin: 50px 60px;
}

.header-right {
    margin-top: 50px;
    margin-right: 200px;
    width: 820px;
    margin: auto;
}

.header-right ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 60px;
}

.header-right a {
    font-size: 15px;
    color: transparent;
    background: linear-gradient(to right, #4a7da3 50%, #000 50%) 100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    margin: 10px;
}

.header-right a:hover {
  background-position: 0 100%;
  font-weight: bold;
  font-size: 1.7rem;
}

.header-right a:first-child {
    margin-left: 50px;
}

.header-right a:last-child {
    margin-right: 50px;
}

