header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px 50px;
    position: fixed;
    z-index: 20;
    width: 100%;
    left: 0;
    top: 0;
}

.header-logo img {
    position: absolute;
    top: 22px;
    width: 120px;
    z-index: 30;
}

.nav-menu {
    display: flex;
    margin: 0 auto;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    padding: 18px 50px;
    border-radius: 25px;
    background-color: #fffff9;

}

/* 下線のスタイル */
.nav-menu a::after {
  background-color: #333; /* 下線の色 */
  bottom: -4px; /* 要素の下端からの距離 */
  content: ""; /* 要素に内容を追加 */
  height: 2.5px; /* 下線の高さ */
  left: 0; /* 要素の左端からの距離 */
  position: absolute; /* 絶対位置指定 */
  transform: scale(0, 1); /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
  transform-origin: center top; /* 変形の原点を中央上に指定 */
  transition: transform .3s; /* 変形をアニメーション化 */
  width: 100%; /* 要素の幅 */
  background-color: #497ba1;
}
/* リンクにホバーした際の下線の表示 */
.nav-menu a:hover::after {
  transform: scale(0.6, 0.6);
   /* 下線を横方向に1倍、縦方向に1倍に変形（表示） */
  
}

.nav-menu a {
    color: transparent;
    background: linear-gradient(to right, #009bc6 50%, #000 50%) 100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    display: inline-block;
    position: relative;
}

.nav-menu a:hover {
    background-position: 0 100%;
    font-weight: bold;

}


.toggle-btn {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 25px;
    right: 16px;
    transition: 0.5s;
    z-index: 20;
    opacity: 1;
    visibility: hidden;
    cursor: pointer;
}

.toggle-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    position: absolute;
}

.toggle-btn span:nth-child(1) {
    top: 20%;
}

.toggle-btn span:nth-child(2) {
    top: 50%;
}

.toggle-btn span:nth-child(3) {
    top: 80%;
}

.header-right a:hover {
    background-position: 0 100%;
    font-weight: bold;
    font-size: 1.7rem;
}

.open .toggle-btn span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}

.open .toggle-btn span:nth-child(2) {
    transform: rotate(45deg);
}

.open .toggle-btn span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}

@media (max-width:1168px) {

    .header-logo img {
        left: 3%;
    }

    .toggle-btn {
        opacity: 1;
        visibility: visible;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100vh;
        background-color: white;
        transition: all 0.5s;
    }

    .open nav {
        opacity: 1;
        visibility: visible;
        z-index: 20;
        transition: all 0.5s;
    }

    .nav-menu ul {
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }


}