.about .section-title {
    padding-top: 50px;
}

.about h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about-text {
    width: 55%;
    margin: auto;
    line-height: 1.2;
}

.about-text p {
    display: inline-block;
    line-height: 1.5;
}

.about-text p span {
    font-weight: bold;
    font-size: 2.2rem;
    color: #f37053;
    margin-block: 10px;
}

.last_line {
    margin-bottom: 16px;
}

.about-container img {
    width: 45%;
}

.about-container {
    display: flex;
    justify-content: space-between;
}


.emblem,.emblem-text {
    display: flex;
}

.emblem-text {
    margin: auto;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.5;

    }

.emblem-text span {
    background: linear-gradient(transparent 70%, #9ed4b1 70%);
}


.back_text {
    width: 640px;
    margin-top: 70px;
    
}

.about-inner {
    text-align: center;
}

.emblem-img {
    margin-top: -30px;
}

/* レスポンシブ */
@media(max-width:767px) {

    .about-container {
        display: flex;
        flex-direction: column-reverse;

    }

    .about-container img {
        margin: auto;
        padding-bottom: 50px;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .last_line {
        margin-bottom: 30px;
    }

    .about-inner {
        flex-direction: column;
    }

    .emblem,.emblem-text {
        flex-direction: column-reverse;
        
    }

    .emblem-img {
        margin-top: 30px;
    }

    .back_text {
        margin-top: 0;
    }

    .emblem-text {
        margin-top: 30px;

}


