.about h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about-text {
    width: 50%;
    font-size: 1.4rem;
}

.about-text p {
    display: inline-block;
}

.about-text img {
    width: 50%;
}

.about-container {
    display: flex;
    border: 1px solid black;
}