.wrapper{
    width: 954px;
    display: inline-block;
}
.section-title{
    font-size: 3.0rem;
    margin-bottom: 50px;
}



/* strong-point */
.strong-point{
    border: 1px solid;
    text-align: center;
    padding-block: 50px 160px;
    background-color: #F3F1EF;
}

.strong-point .section-title span{
    font-size: 4.0rem;
    color: #2453A1;
}



/* sp-list */
.sp-list{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    text-align: center;
    gap: 80px;
    margin-bottom: 50px;
}

.sp-single{
    position: relative;
    box-shadow: 0 0 8px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px 60px;
    background-color: white;
}

.sp-single .number{
    font-size: 4.0rem;
    font-weight: bold;
    color: #497BA1;
    position: absolute;
    top: 30px;
    left: 30px;
}

.sp-single .text{
    font-size: 3.0rem;
    font-weight: bold;
}

.sp-single img{
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 60%;
    margin: 0 auto;
}

.sp-single .sp-btn{
    width: 60%;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(to right, #70B8EE, #497BA1);
    color: white;
}



/* 申し込みボタン */
.sp-apply{
    display: inline-block;
    margin-bottom: 50px;
}

.sp-apply .contact-btn{
    width: 400px;
}



/* 動画ボタン */
.movie-btn{
    display: inline-block;
    margin: 0 auto;
    width: 400px;
    height: 60px;
    padding-inline: 10px;
    background: linear-gradient(to right, #70B8EE, #497BA1);
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
    text-shadow: 0 2px 4px rgba(0,0,0,0.35);
}

.movie-btn:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}