@charset "UTF-8";

.flow {
    padding-top: 100px;

    margin-block:-50px 160px;
}

.wrapper-flow {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
}

.flow-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.flow-item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}

.flow-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

}

.flow-text span {
    white-space: nowrap;
    margin-bottom: 5px;
    font-size: 1.8rem;
}

.first-text {
    top: 25%;
}

.top-number {
    justify-items: start;
    padding-right: 30px;
}


.bottom-number {
    justify-items: end;
    padding-left: 30px;
}



/* 風船アニメーション */
.flow-items:nth-child(1) .flow-item:nth-child(1) {
    animation: float1 4.5s ease-in-out infinite;
}

.flow-items:nth-child(1) .flow-item:nth-child(2) {
    animation: float2 5.2s ease-in-out infinite 0.3s;
}

.flow-items:nth-child(1) .flow-item:nth-child(3) {
    animation: float3 3.8s ease-in-out infinite 0.6s;
}

.flow-items:nth-child(2) .flow-item:nth-child(1) {
    animation: float4 4.8s ease-in-out infinite 0.1s;
}

.flow-items:nth-child(2) .flow-item:nth-child(2) {
    animation: float5 5.3s ease-in-out infinite 0.5s;
}

.flow-items:nth-child(2) .flow-item:nth-child(3) {
    animation: float6 4.2s ease-in-out infinite 0.2s;
}

@keyframes float1 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -18px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes float2 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -30px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes float3 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -12px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes float4 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -25px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes float5 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -20px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes float6 {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 -28px;
    }

    100% {
        translate: 0 0;
    }
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーー
レスポンシブ
ーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
@media (max-width: 768px) {

    .flow {
    margin-bottom: 80px;
}

    .wrapper {
        padding-inline: 3%;
    }

    .flow-items {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    .top-number {
        padding-right: 0;
    }

    .bottom-number {
        padding-left: 0;
    }
}