@charset "UTF-8";

.wrapper {
    max-width: 954px;
    margin: 0 auto;
}

.flow-inner {
    display: flex;
    gap: 80px;
}

.flow-item {
    position: relative;
    margin-bottom: 20px;
}

.flow-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.odd-number {
    transform: translateX(-30%);
}

.even-number {
    transform: translateX(25%);
}