.company {
    padding-top: 50px;
    margin-top: -50px;
background-color: white;
}

.company h2 {
    padding-top: 50px;
    
}

.company-inner {
    display: flex;
    margin-top: 80px;
    padding-bottom: 80px;

}

.company-inner dl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.company-inner dt {
    width: 30%;
}

.company-inner dd {
    width: 70%;
}


.map {
    width: 50%;
}

.map iframe {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.company-inner h3 {
    font: 1.6rem normal;
}

@media(max-width:767px) {

.company-inner {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.company-inner dd {
    padding-bottom: 20px;
}

.company-inner h3 {
    margin-bottom: 40px;
}

.map {
    width: 80%;
}

}