/* コンタクトボタン（hover) */


a {
    display: block;
}

.contact-btn {
    width: 250px;
    height: 40px;
    padding-inline: 10px;
    background-color: #FFD60E;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.contact-btn:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* コンタクトボタン（ぷるーん） */

.btn_box{
    position: absolute;
    top: 100px;  /* 使う際はコメントアウトしてください */
}

#btn_animation .btn{
    display: block;
    width: 250px;
    height: 40px;
    font-size: calc(14 / 14*1rem);
    line-height: 40px;
    text-decoration: none;
    background-color: #FFD60E;
    color: white;
    text-align: center;
    border-radius: 78px;
    animation: btn_animation 1s infinite;
}

@keyframes btn_animation {
    0% {
        transform: scale(1, 0.8);
    }
    20% {
        transform: scale(0.8, 1.1);
    }
    95% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 0.8);
    }
}


/* セクションタイトル */

.section-title {
    font-size: calc(20 / 14*1rem);
    font-weight: bold;
    position: relative;
}


.section-title::before {
    width: 80px;
    height: 0.2rem;
    content: "";
    position: absolute;
    text-align: center;
    top: 100%;
    left: 25px;
    background-color: #497BA1;

}