@charset 'UTF-8';

@use '01header';
@use '02mainvisual';
@use '03pronavi';
@use '04strong-point';
@use '05voice';
@use '06collection';
@use '07flow';
@use '08free';
@use '09money';
@use '10question';
@use '11company';
@use '12footer';

